.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

.semaforo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 40vw;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
}

.poste{
    display: flex;;
    height: 12vh;
    width: 3vw;
    background-color: black;
}

.cajaSemaforo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: black;
}